.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo-label {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: $mainAccentColor;

  @include desktop {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo-label--black {
  color: $mainDarkColor;
}

.logo-label--white {
  color: $mainWhiteColor;
}