.button-set {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 40px;
  @include tablet {
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 30px;
  }
  @include desktop {
    margin-bottom: 50px;
  }
}

.button-set__button {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  color: $mainTitleColor;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: background-color $duration $timingFunction,
              box-shadow $duration $timingFunction;
              color: $duration $timingFunction;
  
  &:hover,
  &:focus,
  &.active {
    background-color: $secondaryAccentColor;
    box-shadow: $buttonSetShadow;
    color: $mainWhiteColor;
  }
}

// .button-set__button.active {
//   background-color: $secondaryAccentColor;
//   box-shadow: $buttonSetShadow;
//   color: $mainWhiteColor;
// }