.social {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social__link {
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  fill: $mainTextColor;
  transition: background-color $duration $timingFunction,
    fill $duration $timingFunction;

  &:hover,
  &:focus {
    fill: $mainWhiteColor;
    background-color: $secondaryAccentColor;
  }
}

.social__link--white {
  fill: $mainWhiteColor;
  background-color: $mainTextColor;
  transition: background-color $duration $timingFunction;

  &:hover,
  &:focus {
    background-color: $secondaryAccentColor;
  }
}