body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $mainTextColor;
}

%button {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: $mainWhiteColor;
  background-color: $mainAccentColor;
  border-radius: 5px;
  border: none;
  outline: none;
}

h2, h3 {
  color: $mainTitleColor;
}

.section__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  @include desktop {
    margin-bottom: 50px;
    font-size: 36px;
  }
}