$mainWhiteColor: #ffffff;
$mainTextColor: #757882;
$mainTitleColor: #2b2b28;
$mainAccentColor: #a070a1;
$secondaryAccentColor: #724060;
$duration: 250ms;
$timingFunction: cubic-bezier(0.4, 0, 0.2, 1);